<%= form_with(model: book_var,  local: true) do |form| %>
  
<!-- atentar para nome dos campos do model nos campos do form -->

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  
  <br />

  <div class="dropdown">
  <%= form.label :name %>
    <%= form.collection_select :user_id, @users, :id, :name,  include_blank: true %>
  </div>

  <br />

  <div class="actions">
    
    <%= form.submit %>
  </div>
<% end %>
